.footerHeaderStyle {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.footerTableBodyStyle {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 14px;
  padding-left: 4px;
}