.basicCardStyle {
  width: 156px;
  margin-left: 30px;
}

.basicCardStyle:hover {
  cursor: pointer;
}

.cardImage {
  width: 156px;
  height: 245px;
  border-radius: 8px;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.cardTitle {
  font-weight: bold;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 15px;
  padding: 3px;
}

.cardReleaseDate.cardReleaseDate {
  color: var(--light-black);
  font-size: 13px;
  padding: 2px;
}

.circularProgressContainer {
  position: relative;
  margin-left: 10px;
  background-color: black;
  border-radius: 30px;
  top: -19px;
  width: 38px;
  height: 38px;
  font-weight: 600;
  border: 2px solid black;
}
