.detailHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.detailHeaderImage {
  min-width: 280px;
  width: 200px;
  height: 450px;
  border-radius: 20px;
}

.headerStyle.title {
  font-size: 40px;
  font-weight: bold;
}

.dataDetailHeader {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 1000px;
}

.dataFacts {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.iconsHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 15px 0px 15px 0px;
}

.circularHeaderProgressContainer {
  position: relative;
  background-color: black;
  border-radius: 39px;
  width: 70px;
  height: 70px;
  font-weight: 600;
  border: 4px solid black;
}

.iconActionContainer {
  width: 50px;
  height: 50px;
  background-color: var(--darker-blue);
  border-radius: 30px;
  margin: 5px;
}

.singleIcon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.detailsTagline {
  color: var(--darker-white);
  font-style: italic;
}

.directorInfo {
  margin-top: 20px;
}

.directorName.style {
  font-weight: bold;
  font-size: 15px;
}

.profession.style {
  font-size: 13px;
}