.detailCardContainer {
  width: 140px;
  max-height: 100%;
  border-radius: 6px;
  box-shadow: 0px 0px 12px 4px var(--super-light-grey);
  margin: 10px 5px 10px 10px;
  border: 1px solid var(--super-light-grey);
}

.detailCardImage {
  width: 140px;
  height: 200px;
  border-radius: 6px 6px 0px 0px;
}

.detailCardDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.detailCardName.style {
  font-size: 15px;
  font-weight: bold;
}

.detailCardCharacter.style {
  font-size: 14px;
}