:root {
  /* colors */
  --light-blue: #18b8db;
  --basic-blue: #00a0dd;
  --a-bit-darker-blue: #306397;
  --darker-blue: #042445;
  --bluish-white: #faffff;
  --light-black: #00000099;
  --light-green: #31bd86;
  --dark-grey: #645770;
  --very-dark-grey: #3e3a41;
  --light-grey: #9a979d;
  --greish-white: #efefef;
  --super-light-grey: #d3d9d9;
  --darker-white: #e2e2df;
  --light-yellow: #d2d531;
  --dark-pink: #bd3160;
  --normal-pink: #f35aee;

  /* fonts */
  --main-font-family: 'Source Sans Pro', Arial, sans-serif;
};
