.titleHeaderStyle {
  height: 200px;
  width: 90%;
  margin: auto;
  padding: 40px 24px 30px 30px;
  display: flex;
  flex-direction: column;
  color: var(--bluish-white);
  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/8bcoRX3hQRHufLPSDREdvr3YMXx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.titleHeaderSearchContainerStyle {
  display: flex;
  text-align: center;
  padding: 50px 20px 30px 20px;
  border-radius: 15px 5%;
}

#searchInputStyle {
  border-color: transparent;
  border-radius: 30px 0px 0px 30px;
  height: 40.5px;
  padding: 2px 10px;
  font-size: 18px;
  background: white;
  width: 90%;
}

#searchInputStyle:focus-visible {
  outline: none;
}

.titleHeaderButtonSearchStyle {
  border-color: transparent;
  border-radius: 30px;
  height: 50px;;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  background: var(--a-bit-darker-blue);
  color: var(--bluish-white);
  position: relative;
  left: -30px;
}

.titleHeaderButtonSearchStyle:focus-visible {
  border: none;
  outline: none;
}

.titleHeaderButtonSearchStyle:active, .titleHeaderButtonSearchStyle:hover {
  color: var(--light-blue);
}
