.mainHeaderStyle {
  height: 33px;
  width: auto;
  background-color: var(--darker-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px 15px 30px;
  font-size: 	18px;
  color: var(--bluish-white);
  text-decoration: none;
  white-space: nowrap;
}

.leftSideMainHeaderStyles {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 15px;
}

.mainHeaderImageStyle {
  color: #18b8db;
  transform: rotate(90deg);
}

.headerLinkStyle {
  color: var(--bluish-white);
  display: initial;
  padding: 0px;
}
