.socialSectionHeaderContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 30px;
}

.socialSectionHeader.style {
  margin-left: 20px;
  margin-bottom: -10px;
  font-weight: bold;
  font-size: 20px;
}

.socialSectionHeaderMenuTabs {
  font-size: 18px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.socialSectionMenuTab.style {
  border-bottom: 3px solid black;
  color: black;
}

.socialSectionMenuTab.style:hover {
  border-bottom: 3px solid black;
  color: var(--dark-grey);
}

.redirectionSocialFooter.style {
  margin-left: 30px;
  color: black;
  margin: 20px;
}

.redirectionSocialFooter.style:hover {
  color: var(--dark-grey);
  cursor: pointer;
}