.reviewsPageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: fit-content;
  align-items: center;
  margin: auto;
}

.reviewsPageHeader {
  height: 90px;
  width: 100%;
  background-color: var(--darker-blue);
  color: var(--bluish-white);
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-top: 1px solid var(--bluish-white);
  padding: 30px 50px 30px 150px;
}

.smallMediaPoster.style {
  border-radius: 5px;
}

.reviewPageHeaderTItle {
  font-size: 40px;
  font-weight: bold;
  padding-left: 28px;
}

.reviewHeaderButton.style {
  color: var(--super-light-grey);
  font-weight: bold;
  font-size: 18px;
  text-transform: none;
}

.reviewsColumns {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
  width: 80%;
}

.addReviewButtonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 350px;
  font-weight: bold;
}

.addReviewButton.style {
  height: 43px;
  width: 186px;
  background-color: var(--darker-blue);
  border-radius: 30px;
  color: white;
}

.addReviewButton.style:hover {
  background-color: black;
  color: white;
}

.reviewFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reviewFormContainer.hidden {
  visibility: hidden;
  height: 0px;
}

.reviewAuthorInputField.style {
  display: flex;
  align-items: flex-start;
  min-height: 50px;
  border: 1px solid var(--super-light-grey);
  border-radius: 6px;
  box-shadow: 0px 0px 12px 4px var(--super-light-grey);
  padding: 15px 15px 15px 25px;
  margin-bottom: 10px;
}

/* remove deafult input border bottom style  */
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-multiline.reviewAuthorInputField.style.css-he3345-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 0px;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-multiline.reviewAuthorInputField.style.css-he3345-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 0px;
}

.reviewDescriptionInputField.style {
  display: flex;
  align-items: flex-start;
  min-height: 200px;
  border: 1px solid var(--super-light-grey);
  border-radius: 6px;
  box-shadow: 0px 0px 12px 4px var(--super-light-grey);
  padding: 25px;
}

/* remove deafult input border bottom style  */
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-multiline.reviewDescriptionInputField.style.css-he3345-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 0px;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-multiline.reviewDescriptionInputField.style.css-he3345-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 0px;
}

.reviewFormButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-bottom: 4px;
}

.reviewFormButtons.style {
  width: 186px;
  height: 43px;
  background-color: var(--darker-blue);
  border-radius: 30px;
  color: white;
}

.reviewFormButtons.style:hover {
  background-color: black;
  color: white;
}

.cardReviewsColumns {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
