.searchCardContainer {
  width: 96%;
  height: 142px;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  box-shadow: 0px 2px 7px 0px var(--super-light-grey);
}

.searchCardContainer:hover {
  box-shadow: 0px 0px 16px 10px var(--super-light-grey);  
  transition: 0.5s;
  cursor: pointer;
}

.searchCardImage {
  max-width: 150px;
  height: 142px;
  border-radius: 9px 0px 0px 9px;
}

/* style for no Image icone */
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.searchCardNoImage.css-i4bv87-MuiSvgIcon-root {
  color: var(--light-grey);
  font-size: 50px;
  margin: auto;
}

.noImageContainer {
  max-width: 150px;
  border-right: 2px solid var(--light-grey);
  border-radius: 9px 0px 0px 9px;
  min-width: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchCardDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  gap: 5px;
  min-width: 350px;
}

.searchCard.subtitle {
  font-size: 14px;
  color: var(--dark-grey);
  letter-spacing: 1px;
}

.searchCardOverView {
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}