.mainFooterContainerStyle {
  height: 220px;
  width: auto;
  display: flex;
  gap: 40px;
  box-shadow: 0px 0px 15px 6px var(--super-light-grey);
  background-color: var(--light-blue);
  color: var(--darker-violet);
  padding: 30px 30px 0px 30px;
  font-size: 	26.56px;
  text-decoration: none;
}
