.mainFooterContainerStyle {
  height: 220px;
  width: auto;
  background-color: rgb(188, 206, 222);
  box-shadow: 0px 3px 5px #8f8fb6;
  display: flex;
  gap: 40px;
  padding: 30px 30px 0px 30px;
  font-size: 	26.56px;
  color: #662d8b;
  text-decoration: none;
}
