.mainDetailPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}

.leftColumnDetails{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 18px
}

.rightColumnDetails {
  min-width: 200px;
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: sticky;
}

.detailCaruselContainer {
  padding: 2px 4px 0px 3px;
  border-bottom: 1px solid var(--light-grey);
  width: 950px; 
}

.detailSocialContainer {
  width: 950px; 
  height: fit-content;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}

.caruselDetailBody {
  margin-bottom: 30px;
  height: 100%;
  width: 97%;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.rigthInfoContainer {
  height: 734px;
  box-shadow: -21px 0px 20px 30px white;
}

.addFirstReviewContainer {
  margin-left: 23px;
}

.addFirstReviewLink.style {
  padding-left: 60px;
  color: black;
  font-size: 20px;
}

.addFirstReviewLink.style:hover {
  color: var(--dark-grey);
  cursor: pointer;
}