.mainDetailPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}

.leftColumnDetails{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 18px
}

.rightColumnDetails {
  width: 300px;
}

.detailCaruselContainer {
  padding: 2px 4px 0px 3px;
  border-bottom: 1px solid var(--light-grey);
  width: 1050px; 
}

.detailSocialContainer {
  width: 1050px; 
  height: fit-content;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.caruselDetailBody {
  margin-bottom: 30px;
  height: 100%;
  width: 97%;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
